@import 'reset.css';

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
.wrapper {
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}
.wrapper::after {
    content: '';
    clear: both;
    display: table;
}
body {
    padding-top: 80px;
}
.accordion {
    max-width: 600px;
    margin: 100px auto;
}
.accordion-item {
    border: 1px solid #000;
    display: block;
}
.accordion-btn {
    display: block;
    width: 100%;
    background-color: cadetblue;
    font-size: 20px;
    padding: 10px 15px;
    border: 0;
    position: relative;
    outline: 0;
}
.accordion-btn::after {
    content: '+';
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
}
.accordion-content {
    border: 1px solid #000;
    padding: 10px 15px;
    display: none;
}
.accordion-open .accordion-btn::after {
    content: '-';
}