@import 'reset.css';

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}
.container::after {
    content: '';
    clear: both;
    display: table;
}
.item {
    border: 1px solid #000;
    min-height: 300px;
    width: 50%;
    display: block;
    float: left;
}